@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&display=swap');
:root {
  /* Colors */

  --color-dark: #191919;
  --color-black: #000;
  --color-orange: #D87C49;
  --color-light-grey: #f1f1f1;
  --color-dark-grey: #777;
  --color-white: #ffffff;
  --color-dark-white: #fafafa;

  /* Typography */
  --font-family: 'Manrope', sans-serif;

  /* Design elements */
  --transition: 300ms ease;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  color: var(--color-dark);
  min-height: 100vh;
  background: var(--color-dark-white);
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  display: block;
  max-width: 100%;
}